// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

// Light Mode Colors
$bg-color: #f6faff; 
$bg-card-color: #fff;           
$text-primary: #101a47;
$text-secondary: #ff0000;
$border-color: #e7e7e7;                          
$link-color: #007bff;          
$link-hover: #0056b3; 
$input-color: #e6e6e6;      
$input-color-hover: #cfcfcf;  
$button-bg: #1c2e7e;           
$button-text: #fff; 

$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;


// Dark Mode Colors
.dark-mode {
  $bg-color: #212529; 
  $bg-card-color: #fff;          
  $text-primary: #f8f9fa;
  $text-secondary: #fff;   
  $border-color: #444444;             
  $link-color: #80bfff;      
  $link-hover: #66a3ff;      
  $button-bg: #0056b3;      
  $button-text: #ffffff; 
    
  $success-color: #4caf50;
  $error-color: #f44336;
  $warning-color: #ff9800;
}


// Effects 
$transition-duration: 0.3s;