@import 'bootstrap/scss/bootstrap'; 
@import 'bootstrap/scss/mixins';    

@import 'variables';
@import 'color-themes';

@import 'views/blog.scss';
@import 'views/about.scss';
@import 'views/home.scss';
@import 'views/profile.scss';
@import 'views/courses.scss';
@import 'views/auth.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none !important; 
}

body {
  font-family: "Montserrat", sans-serif;;
}

@keyframes content-fade {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

main {
  animation: content-fade;
  min-height: 90vh;
  padding: 2rem;
}

a {
  color: var(--bs-link-color);
  font-weight: 700;
}

i {
  font-size: 1.3rem;
}

h1 {
  font-weight: 600;
}

.card-shape {
  background: var(--bs-secondary-bg);
  width: 30%;
  height: fit-content;
}

.user-profile {
  max-height: 1.5rem;
  max-width: 1.5rem;
}

.star-filled {
  color: #ddbe1e;
}

.star-empty {
  color: rgb(206, 204, 204);
  // #2b2b2b - dark
}

.alert-link:hover {
  text-decoration: underline !important;
}

.btn {
  font-weight: 500;
  font-size: .9rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1rem;
}

nav {
  position: relative;
  background: var(--bs-secondary-bg);
  
  .nav-logo {
    a {
      font-weight: 700;
      flex: 2;
    }
  }
    
  .nav-menu {
    flex: 2;
  } 

  .nav-list-item {
    a {
      padding: .5rem .7rem;
      font-weight: 500;
      font-size: .95rem;
    }
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
    
  .drop-menu  {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; 
    right: 0;
    width: fit-content;
    background-color: white;
  }
  
  #menu-toggle:checked ~ .drop-menu  {
    display: flex;
  }
  
  .drop-list-item {
    padding: 1rem;
  }
    
  .profile-icon {
    max-width: 35px;
    border-radius: 99px;
    cursor: pointer;
  }
}
