@import './views/blog.css';
@import './views/about.css';
@import './views/calendar.css';
@import './views/community.css';
@import './views/contact.css';
@import './views/courses.css';
@import './views/events.css';
@import './views/welcome.css';
@import './views/user-profile.css';
@import './views/auth.css';
@import './views/activities.css';


* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #FFF;
    --background-color: #f6faff;
    --main-text-color: #17235e;
    --main-text-color-hover: #2a3e9b;
    --secondary-text-color: #17235e;
    --border-color: #e7e7e7;
    --input-color: #e6e6e6; 
    --input-color-hover: #cfcfcf;
    --user-message-box: #2f529d;
    --message-box-color: #e6e6e6;
}

.dark-mode {
    --main-color: #202020;
    --background-color:#121212;
    --main-text-color: #E2E2E2;
    --main-text-color-hover: #a55ffc;
    --secondary-text-color: #9c58f0;
    --border-color: #303030;
    --input-color: #333333;
    --input-color-hover: #444444;
    --user-message-box: #BB86FC;
    --message-box-color: #333333;
}

@keyframes content-fade {
    from { 
        opacity: 0%; 
    }
    
    to { 
        opacity: 100%; 
    }
}

main {
    animation: content-fade .5s ease; 
    min-height: 90vh;
    padding: 20px 30px;
}

body {
    background-color: var(--background-color);
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 30px;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-bottom: solid 1px var(--border-color);
}

nav .nav-section {
    width: calc(100% / 3);
}

nav a {
    color: var(--main-text-color);
    font-weight: 600;
    font-size: .9em;
    transition: color .1s ease;
}

nav a:hover, .account-icon:hover {
    color: var(--main-text-color-hover);
}

.nav-title-container h1 {
    font-weight: 700;
    font-size: 2em;
    color: var(--secondary-text-color);
}

.nav-list-container {
    display: flex;
    justify-content: center;
}

.nav-list-container .nav-list {
    display: flex;
}

.nav-list-container .nav-list li {
    margin: 15px;
}

.nav-tools ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-tools ul .account-icon {   
    margin-right: 3px;
    vertical-align: middle;
}

.nav-tools ul li {
    margin: 10px;
}

.nav-tools button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 99px;
    font-size: 1.3em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--main-text-color);
    transition: background-color .1s ease, color .1s ease;
}

.nav-tools button:hover {
    background: var(--input-color-hover);
    color: var(--main-text-color-hover);
}

.profile-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 99px;
}

.btn-dark-mode {
    display: none;
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #202020;
    padding: 30px;
}

.footer-list {
    margin-right: 10%;
}

.footer-list a {
    color: #FFF;
    font-weight: 400;
    font-size: .9em;
    transition: color .1s ease;
}

.footer-list a:hover {
    color: #cfcfcf;
}



