/* @import './views/blog.css';
@import './views/about.css';
@import './views/calendar.css';
@import './views/community.css';
@import './views/contact.css';
@import './views/courses.css';
@import './views/welcome.css';
@import './views/user-profile.css';
@import './views/auth.css';
@import './components/timer.css';
@import './views/video.css'; */

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;  
}

:root {
    --main-color: #FFF;
    --background-color: #f6faff;
    --main-text-color: #17235e;
    --main-text-color-hover: #1c2e7e;
    --secondary-text-color: #17235e;
    --border-color: #e7e7e7;
    --input-color: #e6e6e6; 
    --input-color-hover: #cfcfcf;
    --user-message-box: #2f529d;
    --message-box-color: #e6e6e6;
}

.dark-mode {
    --main-color: #202020;
    --background-color: #121212;
    --main-text-color: #E2E2E2;
    --main-text-color-hover: #a55ffc;
    --secondary-text-color: #9c58f0;
    --border-color: #303030;
    --input-color: #333333;
    --input-color-hover: #444444;
    --user-message-box: #BB86FC;
    --message-box-color: #333333;
}

@keyframes content-fade {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

main {
    animation: content-fade .5s ease;
    min-height: 90vh;
    padding: 20px 30px;
}

body {
    background-color: var(--background-color);
}
