@keyframes toLeft {
    0% {
        right: -20%;
    }
    100% {
        right: 10px;
    }
}

.notify {
    padding: 30px;
    background-color: var(--main-color);
    border-radius: 16px 16px 0 16px;
    border: solid 1px var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 200px;
    max-width: 350px;
    position: fixed;
    top: 100px;
    right: 10px; 
    animation: toLeft 2s ease;
    z-index: 1000; 
    margin: 0; 
    display: none;
}

#notify-text {
    margin-top: 10px;
}

.notify h1 {
    color: var(--secondary-text-color);
    font-size: 1.3em;
}

.list {
    margin: 5px;
}

.list a{
    margin-top: 5px;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--main-text-color);
    padding: 1px 50% 1px 1px;
    border-radius: 99px;
}

.list a:hover {
    background-color: var(--input-color-hover);
}
