#about-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
}

.about-section p {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--main-text-color);
}

.about-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}