.main-blog {
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}

.main-container {
    flex: 3;
    margin-right: 20px;
}

.aside-container {
    flex: 1;
}

.post {
    background: var(--main-color);
    border: solid 1px var(--border-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.post h2 {
    margin-top: 0;
    color: var(--main-text-color);
}

.post p {
    color: var(--main-text-color);
}

.meta {
    color: #888;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.widget {
    background: var(--main-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.widget h3, p {
    color: var(--main-text-color);
}

.widget a {
    color: var(--secondary-text-color);
}

.widget a:hover {
    text-decoration: underline;
} 
