#community-screen {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.friends-scroll-bar {
    display: flex;
    align-items: center;
    flex-flow: column;
    margin: 10px 5px;
}

.friends {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 3px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border: solid 1px var(--border-color);
    color: var(--main-text-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.friends:hover {
    background-color: var(--input-color-hover);
    color: var(--main-text-color-hover);
    transition: all 0.2s ease-in;
}

.chat-container {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-end;
    background-color: var(--main-color);
    border: solid 1px var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 16px;
    margin: 10px 5px;
    min-width: 700px;
    overflow: auto;
}

.message-tools {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding: 5px;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: solid 1px var(--border-color);
    margin-top: 10px;
}

.messages-container {
    width: 100%;
    max-height: 800px;
    overflow: auto;
}

.message-box {
    border: solid 1px var(--border-color);
    padding: 10px;
    margin: 0 10px;
    font-weight: 500;
    width: fit-content;
}

#user-message {
    border-radius: 16px 16px 0 16px;
    background-color: var(--user-message-box);
    color: #FFF;
    margin-left: auto;
}

#other-message {
    border-radius: 16px 16px 16px 0;
    background-color: var(--message-box-color);
    color: var(--main-text-color); 
}

.message-tools input {
    border: none;
    color: var(--main-text-color);
    font-size: .9em;
    font-weight: 500;
    width: 100%;
    padding: 12px;
    background: var(--input-color);
    border-radius: 16px;
    outline: transparent;
    transition: all 0.2s ease-in;
}

.message-tools input:focus {
    outline: 2px solid var(--main-text-color);
}

.message-tools button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--input-color);
    width: 10%;
    border-radius: 16px;
    padding: 10px;
    border: none;
    transition: all 0.1s ease-in-out;
    font-size: 1.2em;
    cursor: pointer;
    color: var(--main-text-color);
}

.message-tools button:hover, 
.message-tools input:hover {
    background: var(--input-color-hover);
    transition: all 0.2s ease-in;
}

@keyframes toUp {
    0% {
        top: 100%;
    }
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.addNewFriend-menu {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: toUp .6s ease-in-out;
}

.add-friend-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    color: var(--secondary-text-color);
}

.add-btn {
    width: 100%;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--main-text-color);
    color: var(--main-color);
    font-weight: 600;
    font-size: .9em;
    padding: 10px 0;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--main-text-color-hover);
    transition: all 0.1s ease-in;
}

.btn-back {
    border: none;
    background: transparent;
    color: var(--main-text-color);
    font-size: .9em;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.btn-back:hover span {
    text-decoration: underline;
}

.btn-back i {
    font-size: 1.5em;
    color: var(--main-text-color);
}
