
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    color: var(--main-text-color);
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--input-color);
    color: var(--main-text-color);
    font-size: .9em;
    font-weight: 500;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--input-color-hover);
    background-color: var(--input-color-hover);
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-text-color);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--main-text-color-hover);
}