.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-card {
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 30px;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.profile-card h2 {
    margin-top: 0;
    color: var(--main-text-color);
}

.profile-card label {
    display: block;
    margin-top: 10px;
    color: var(--secondary-text-color);
    font-weight: 600;
}

.profile-card input[type="text"],
.profile-card input[type="email"],
.profile-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--input-color);
    color: var(--main-text-color);
    font-size: .9em;
    font-weight: 500;
    transition: background-color 0.3s;
}

.profile-card input[type="text"]:hover,
.profile-card input[type="email"]:hover,
.profile-card input[type="password"]:hover {
    background-color: var(--input-color-hover);
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-main {
    text-align: center;
    margin-bottom: 10px;
}

.upload-container {
    display: flex;
    align-items: center;
}

.upload-container p {
    margin: 10px;
}

.profile-card input[type="file"] {
    display: none;
}

.send-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: solid 1px var(--border-color);
    border-radius: 99px;
    transition: ease .3s;
    cursor: pointer;
    
}

.send-img:hover {
    background: var(--input-color-hover);
    transition: ease .3s;
}

.send-img i {
    font-size: 1.2em;
}

.profile-card button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    font-size: 1.1em;
    font-weight: 600;
    border: none;
    background-color: var(--secondary-text-color);
    cursor: pointer;
    color: var(--main-text-color);
    transition: background-color .1s ease, color .1s ease;
    margin-top: 20px;
    color: #fff;
}

.alert {
    color: var(--main-text-color);
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}