.create-course-form {
    background-color: $bg-card-color;
    color: $text-primary;
    padding: 1.875rem !important; // 30px
    border-radius: 1rem; // 16px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem; // 1px 4px
    border: solid 0.0625rem $border-color; // 1px
    text-align: center;
    max-width: 23.125rem; // 370px
    width: 100%;

    h1 {
        margin-bottom: 1.875rem !important; // 30px
    }

    input[type="file"] {
        display: none;
    }

    input, textarea {
        width: 100%;
        padding: 0.75rem 1.25rem !important; // 12px 20px
        background: $input-color;
        color: $text-primary;
        border: none;
        border-radius: 1rem; // 16px
        outline: transparent;
        font-weight: 500;
        transition: all 0.2s ease;

        &:focus {
            outline: 0.125rem solid $text-primary; // 2px
        }

        &::placeholder {
            color: $text-primary;
            font-size: 1em;
            font-weight: 500;
        }
    }

    .submit-course-btn {
        width: 100%;
        border-radius: 1rem; // 16px
        border: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem; // 1px 4px
        background-color: $button-bg;
        color: white;
        font-weight: 600;
        font-size: 0.9em;
        padding: 0.625rem 0 !important; // 10px
        transition: all 0.1s ease-in-out;
        cursor: pointer;
        margin-top: 1.25rem !important; // 20px
    }
}

.course-input-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0.625rem 0 !important; // 10px
}

.image-input-box {
    display: flex;
    align-items: center;

    i {
        background: $input-color;
        color: $text-primary;
        border-radius: 6.1875rem; // 99px
        padding: 0.9375rem !important; // 15px
        font-size: 1.25rem; // 20px
        cursor: pointer;
        transition: ease 0.1s;
    }

    label span {
        margin: 0 0.625rem !important; // 10px
        font-weight: 500;
    }
}

.select-input-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.type-container, .level-container {
    display: flex;
    flex-direction: column;
}

/* index */

.course-screen-title {
    color: $text-primary;
    margin: 1.25rem 0 !important; // 20px
}

.course-card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem 0 !important; // 20px
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $bg-card-color;
    border-radius: 1rem; // 16px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem; // 1px 4px
    border: solid 0.0625rem $border-color; // 1px
    margin: 0.625rem !important; // 10px
    width: 20rem; // 320px

    h2 {
        font-size: 1.2em;
        color: $text-secondary;
        margin: 0.625rem 0 !important; // 10px
    }

    img {
        display: block;
        width: 100%;
        border-bottom: solid 0.0625rem $border-color; // 1px
        border-radius: 1rem 1rem 0 0; // 16px 16px 0 0
        min-height: 13.25rem; // 212px
    }

    .card-section {
        padding: 1.875rem !important; // 30px
        color: $text-primary;

        p {
            font-size: 0.9em;
            font-weight: 500;
        }
    }

    .view-course-btn {
        display: block;
        width: 100%;
        background: $button-bg;
        color: #fff;
        font-weight: 500;
        font-size: 0.9em;
        padding: 0.625rem !important; // 10px
        border-radius: 0 0 1rem 1rem; // 16px 16px
        text-align: center;
        transition: ease 0.1s;

        &:hover {
            background-color: $link-hover;
        }
    }
}
