.home-course-card {
    overflow: hidden;
    border-radius: 16px;
    width: 20rem;
    background: var(--bs-secondary-bg);

    img {
        max-width: 100%;
        background: var(--bs-body-bg);
    }
}

.home-title {
    font-weight: 600;
}

.home-banner {
    background: var(--bs-secondary-bg);
    border-radius: 16px;
    
}

.details-button {
    border-radius: 0;
}

.course-detail-card {
    background: var(--bs-secondary-bg);
}