.comments-section {
    max-width: 400px;
}

.comment {
    background: var(--bs-secondary-bg);
}

.comment-date {
    font-size: .8rem;
}

.comment-form {
    background: var(--bs-secondary-bg);
}

.comments-scroll {
    border: solid 1px var(--bs-border-color);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    overflow: auto;
    max-height: 50vh;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}